################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Revver.Interviews.Blazor/.vs/Revver.Interviews.Blazor/FileContentIndex
/Revver.Interviews.BlazorSite/obj
