@page "/"

<PageTitle>Revver Digital Coding Challenge...</PageTitle>

<h3>Welcome to the Revver Digital coding challenge. </h3>

<div>This is our blazor website and it's going to be the worlds best blazor site ever!!</div>
<div>However, it's not working correctly and we wanted it to launch yesterday. We need a few enhancements and there are a hole bench of spelling errrros</div>
<div>We need your help to finger out the issues and correct the spelling...</div>
<br/>
<h3>Here are the issues in order of importance...</h3>
<div>1.  The weather page is not working and we don't know why.</div>
<div>2.  The register page is supers low and we need industry standard password rules implemented.</div>
<div>3.  We need the counter enhanced to count by a number entered by the user.  Adding a reset button would be nice too.  </div>
<div>4.  Replace the "Revver Digital" text with our logo.  </div>
<div>5.  Fix the spelling/formatting errors.</div>
<br/>
<div>Feel free to use any tools you need and ask any questions of the team...</div>