@page "/RomanNumeralCalc"
@inject HttpClient Http
@using Revver.Interviews.BlazorSite.Services;
@using System.Text.Json;
@using System.Text;
<h3>Roman Numeral Calcultor</h3>

<div>Your objective is to continue the work to convert a number to a roman numeral.  An example of this would be the number 1,000 would equal M or the number 1003 would be MIII.</div>

<div>Here are the roman numerals from 1 to 1000.</div>
<div>Symbol	Value</div>
<div>I	    1</div>
<div>II     2</div>
<div>III    3</div>
<div>IV	    4</div>
<div>V	    5</div>
<div>X	    10</div>
<div>L	    50</div>
<div>C	    100</div>
<div>D	    500</div>
<div>M	    1000</div>

<EditForm Model="@romanNumeral" >
    <div class="form-group row">
        <label class="col-md-1 col-form-label">Integer:</label>
        <div class="col-md-1">
            <InputNumber class="form-control" @bind-Value="romanNumeral.Number" onblur="@ConvertToRomanNumeral" />
        </div>
    </div>
</EditForm>

@code {

    private RomanNumeral romanNumeral = new RomanNumeral();
    private string Message { get; set; } = "Convert To Roman Numeral";

    public async Task ConvertToRomanNumeral()
    {
        var content = JsonSerializer.Serialize<RomanNumeral>( value: romanNumeral);
        var request = new StringContent(content, Encoding.UTF8, "application/json");
        var response = await Http.PostAsync("http://localhost:7046/api/ConvertRomanNumeral", request);
        this.Message = response.ToString();
    }
}
