@page "/"

<PageTitle>Revver Digital Coding Challenge...</PageTitle>

<h3>Welcome to the Revver Digital coding challenge. </h3>

<div>This is our blazor website and it's going to be the worlds best blazor site ever!!</div>
<div>However, it's not working correctly and we wanted it to launch yesterday. We need a few enhancements and there are a hole bench of spelling errors</div>
<div>We need your help to find the issues and correct the spelling...</div>
<br/>
<h3>Here are the issues...</h3>
<div>*  The weather page is not working and we don't know why.</div>
<div>*  The register page is super slow and we need industry standard password rules implemented.</div>
<div>*  We need the counter enhanced to count by a number entered by the user.  Adding a reset button would be nice too.  </div>
<div>*  Replace the "Revver Digital" text with our logo.  </div>
<br/>
<div>We're also looking for some guidance on our code structure.  Any advice to make it better would help us tremendously.</div>

<br/>
<div>Feel free to use any tools you need and ask any questions of the team...</div>
